<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab10.Properties.Settings.NORTHWINDConnectionString"
            connectionString="Data Source=DESKTOP-I9SU5QR\LOCAL;Initial Catalog=NORTHWIND;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>